@import "tailwindcss";

:root {
  --background-start: #fde2e4;
  --background-end: #ffffff;   
  --foreground: #5c5470;  
}

@theme inline {
  --color-background: var(--background-start);
  --color-foreground: var(--foreground);
  --font-sans: 'Georgia', serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: linear-gradient(to bottom right, var(--background-start), var(--background-end));
  color: var(--foreground);
  font-family: 'Georgia', serif;
}
